button {
    min-height: 6vh;
    height: 6vh;
    max-height: 6vh;
    border-radius: 0.4rem;
    border: 2px solid $accent-color;
    color: $accent-color;
    background-color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
        border-color: transparent;
        color: #ffffff;
        background-color: $accent-color;
    }
}
