input {
    min-height: 6vh;
    height: 6vh;
    max-height: 6vh;
    background-color: #f4f4f4;
    border-radius: 0.4rem;
    padding: 0 1.5rem;
    border: 1px solid transparent;
    transition: 0.6s;

    &:hover {
        border-color: $accent-color;
    }
}
