.new-color {
    form {
        // display: grid;
        // grid-template: auto / 1fr 1fr;
        // column-gap: 1.2rem;
        width: 100%;
    }

    .base {
        margin-bottom: 3.5rem;

        .size {
            .tint {
                margin-bottom: 0.5rem;
            }
        }
    }

    &__button {
        margin-top: 4rem;
        font-size: 1.2rem;
        grid-column: 1 / -1;
    }
}
