.new-color {
    form {
        // display: grid;
        // grid-template: auto / 1fr 1fr;
        // column-gap: 1.2rem;
        width: 100%;
    }

    &__button {
        margin-top: 4rem;
        font-size: 1.2rem;
        grid-column: 1 / -1;
    }
}
